/*
* @Author: lingkongc
* @Date:   2019-06-26 11:30:46
* @Last Modified by:   Asling
* @Last Modified time: 2019-06-27 18:45:48
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*css reset*/

body {
    background: #f6f6f6;
    font-size: 12px;
    line-height: 1.5;
    font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}

label {
    cursor: pointer;
}

input[type='checkbox'] {
    cursor: pointer;
}

/*定宽布局*/

.w {
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: auto;
    overflow: hidden;
}

/*全局通用样式*/

.hide {
    display: none;
}

/*超链接*/
.link {
    color: #999;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    color: #800;
}

.link-text {
    color: #999;
    text-decoration: none;
}

/*btn*/

.btn{
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: none;
    background: #C60023;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.btn-min{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;
}

/*loading*/

.loading{
    display: block;
    margin: 10px auto;
    width: 60px;
    height: 60px;
    background: url('../../image/icon/loading.svg') no-repeat;
}